:host{
    margin: 1em;

}

.graph__title{
    background-color: white;
    height: 4rem;
    padding-inline: 1em;
    margin-bottom: 3px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.graph__main{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    

    img{
        max-width: 30em;
        width: 80%;
    }

    ul{ 
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding: 1em;
        gap: 1em;
        flex-wrap: wrap;
        li:first-child {
            color: blue;
        }
        li:nth-child(2){
            color: yellow;
        }
        li:last-child {
            color: green;
        }

        li{
            font-size: medium;
            color: grey;
            width: max-content;
            span:first-child{
                color: grey;
            }
            span:last-child{
                color: black;
                font-size: larger;
            }
        }
    }
}

.graph__title, .graph__main{
    margin-inline: 0rem;
}

@media (min-width:481px) {
    .graph__title, .graph__main{
        margin-inline: 0.7rem;
    }
}