<div class="top-nav">
    <p>Dashboard</p>
</div>
<nav>
    <ul class="nav-links">
        <li>Home /</li>
        <li> Dashboard /</li>
        <li> Workplace</li>
    </ul>
</nav>
<section class="navbar-main">
    <section class="navbar-main__body">
        <img class="navbar-main__image" src="./assets/heroes/main.png">
        <div class="navbar-main__text">
            <h2>Good morning, Serati Ma, I wish you happiness every day!</h2>
            <p>Interaction expert | Ant gold service-some certain business group-a certain platform department-a certain technical department-UED</p>
        </div>
    </section>
    <section class="navbar-main__stats">
        <div>
            <p>Number of items</p>
            <p class="stat">56</p>
        </div>
        <div>
            <p>Team ranking</p>
            <p class="stat">8<span>/ 24</span></p>
        </div>
        <div>
            <p>Project visit</p>
            <p class="stat">2223</p>
        </div>
    </section>
</section>