
<h3 class="post-list__title">dynamic</h3>
<section class="post-list__main">
    <post postImgUrl="main.png" postText="Qu Lili in <span>high force grid-day mission, the design</span> of new projects <span>iteration June"></post>
    <post postImgUrl="main2.png" postText="Pay little in <span>high force grid-day mission, the design</span> of new projects <span>iteration June</span>"></post>
    <post postImgUrl="deer.png" postText="Lin Dondon in <span>the two girls group</span> New Project <span>iteration June</span>"></post>
    <post postImgUrl="dog.png" postText="Stars of the week will be <span>May iterative routine</span> update to a published state"></post>
    <post postImgUrl="dog2.png" postText="Zhu-right in <span>project performance</span> has released <span>a message</span>"></post>
    <post postImgUrl="cat.png" postText="Lok in <span>programmer daily</span> New Project <span>brand iteration</span>"></post>
</section>


