:host{
    margin: 1em;
}

.ongoing__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 4rem;
    padding-inline: 1em;
    h3{
        font-weight: 500;
    }

    p{
        color: var(--link-color);
        cursor: pointer;
    }
}

.news-list{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1));
}

.ongoing__header, .news-list{
    margin-inline: 0rem;
}

@media (min-width:481px) {
    .ongoing__header, .news-list{
        margin-inline: 0.7rem;
    }
}


@media (min-width:769px) {
    .news-list{
        grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    }
    
}