

<div class="ongoing__header">
    <h3>Ongoing project</h3>
    <p>All items</p>
</div>
<section class="news-list">
    <news 
        newsText="It's an inner thing that they can't reach and can't reach." 
        newsTitle="Alipay"
        newsImgUrl="alipay.png"
        newsCreator="Science moving bricks"
        newsDate="2 days ago"
    ></news>
    <news 
    newsText="Hope is a good thing, maybe the best, good things will not die." 
        newsTitle="Angular"
        newsImgUrl="angular.png"
        newsCreator="The whole group is Wu Yang"
        newsDate="2 years ago"
    ></news>
    <news 
        newsText="There are so many pubs in the town, but she walked into my pub." 
        newsTitle="Ant Design"
        newsImgUrl="ant.svg"
        newsCreator="中二少女团"
        newsDate="2 days ago"
    ></news>
    <news 
        newsText="At that time, I only thought about what I wanted, and I didn't want to think" 
        newsTitle="Ant Design Pro"
        newsImgUrl="pro.png"
        newsCreator="Programmer everyday"
        newsDate="2 years ago"
    ></news>
    <news 
        newsText="Winter is coming" 
        newsTitle="Bootstrap"
        newsImgUrl="bootstrap.png"
        newsCreator="High-forced design team"
        newsDate="2 years ago"
    ></news>
    <news 
        newsText="Life is like a box of chocolates, and the results are often unexpected." 
        newsTitle="React"
        newsImgUrl="react.png"
        newsCreator="High-forced design team"
        newsDate="2 years ago"
    ></news>

</section>