<h3 class="team__title">team</h3>
<section class="team__list">
    <ul>
        <li><img src="./assets/logos/alipay.png"><span>Scientific moving bricks</span></li>
        <li><img src="./assets/logos/angular.png"><span>Wu Yanzu</span></li>
        <li><img src="./assets/logos/ant.svg"><span>Secondary 2 Group</span></li>
        <li><img src="./assets/logos/pro.png"><span>Programmer everyday</span></li>
        <li><img src="./assets/logos/bootstrap.png"><span>High-force design team</span></li>
        <li><img src="./assets/logos/react.png"><span>Lie to learn computer</span></li>
    </ul>
</section>