/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Libre Franklin', sans-serif;
}

body{
  background-color: var(--background-color);
}


::-webkit-scrollbar {
  width: 13px;
}

/* Base */
::-webkit-scrollbar-track {
  background: #b2d5f1;
}

/* Scroll */
::-webkit-scrollbar-thumb {
  background: #32415B;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #03172D;
}